.navbar {
  background-color: rgb(21, 255, 0);
}
.navUl {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  list-style-type: none;
  padding-inline-start: 0%;
  margin-top: 0%;
}
p {
  color: blue;
}
.green {
  color: green;
}
body {
  margin: 0%;
}
